#archivos r
.Rhistory
.Rproj.user/
spillover.Rproj

#Renviron
.Renviron

#latex
tabla_estacionariedad.tex
tabla_diagnostico_svar.tex
paper_spillover.log
tabla_estacionariedad.log
tabla_estacionariedad.synctex.gz
paper_spillover.aux
paper_spillover.bcf
paper_spillover.run.xml

#documentos
*.doc
*.pdf
.positai

#html
*html

#archivos quarto

paper_spillover.tex
paper_spillover_files/

#archivos cvs

dataset_spillover_remesas_clean.csv
dataset_spillover_transformado.csv
irf_spillover_remesas.csv
irf_spillover_remesas_generales.csv
fevd_roa_desglosado.csv
fevd_roa_desglosado_titulos.csv
irf_spillover_remesas_generales_titulos.csv
irf_spillover_remesas_titulos.csv

*.csv
!dataset_spillover_remesas_clean.csv
!df_credito.csv
!dataset_spillover_transformado.csv
!dataset_vecm.csv

#imagenes 
raices_var_titulos.png
raices_var_credito.png
#raices_var.png
