#archivos r
.Rhistory
.Rproj.user/
spillover.Rproj

#documentos
*.doc
*.pdf
.positai

#html
*html

#archivos quarto

paper_spillover.tex
paper_spillover_files/

#archivos cvs

dataset_spillover_remesas_clean.csv
dataset_spillover_transformado.csv
irf_spillover_remesas.csv
irf_spillover_remesas_generales.csv
fevd_roa_desglosado.csv

#imagenes 
raices_var.png
