#<<<<<<< HEAD
#archivos de la clase
*Practica_1_GARCH.R

#=======
#>>>>>>> 97d6374270fa0e5ff60a555585afc673fbb25270
#archivos de r
.Rproj.user/
.Rhistory
.RData
*.Rproj

#documentos y fomatos 
*.[Rr]
*.[Pp][Dd][Ff]
*.[Hh][Tt][Mm][Ll]
.positai
